@import url('https://fonts.googleapis.com/css?family=Istok+Web&display=swap');

body {
    font-family: 'Istok Web';
    background-color: #ffffff;
    margin: 0;
}

.content {
    margin-left: 15%;
    padding: 1px 16px;
    height: 1000px;
}

.navigation {
    font-size: large;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #F7FCFF;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    background-color: #D1E3ED;
    color: #254255;
    padding: 8px 16px;
    text-decoration: none;

    background-image: linear-gradient(#AAC7DA, #AAC7DA);
    background-repeat: no-repeat;
    transition: background-size .5s, color .5s;
    background-position: 0% 50%;
    background-size: 0% 100%;
}

li a:hover {
    color: #254255;
    background-size: 100% 100%;
}

.footer {
    position: fixed;
    padding: 8px 16px;
    bottom: 10;
    background: #F7FCFF;
}

h1,
h2 {
    color: #254255;
    text-decoration: underline;
}