@import url('https://fonts.googleapis.com/css?family=Istok+Web&display=swap');

body {
    font-family: 'Istok Web';
    background-color: #ffffff;
    margin: 0;
}

.content {
    margin-left: 15%;
    padding: 1px 16px;
    height: 1000px;
}

.navigation {
    font-size: large;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #F7FCFF;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    background-color: #D1E3ED;
    color: #254255;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #AAC7DA;
    color: #254255;
}

.footer {
    position: fixed;
    padding: 8px 16px;
    bottom: 10;
    background: #f1f1f1;
}

h1,
h2 {
    color: #254255;
    text-decoration: underline;
}