<html>

<head>
    <title> {{ page.title }} </title>
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" href="css/CETEIcean.css" media="all" /> -->
    <!-- <link rel="stylesheet" href="css/style.css" media="all" /> -->
    <link rel="stylesheet" href="css/main_style.css" media="all" />
    <script src="js/CETEI.js"></script>
</head>

<body>

    <h1> {{ page.title }} </h1>

    <ul class="navigation">
        <li><a href="index.html">Home</a></li>
        <li><a href="Week_One.html">Week One</a></li>
        <li><a href="Week_Two.html">Week Two</a></li>
        <li><a href="Week_Three.html">Week Three</a></li>
        <li><a href="Week_Four.html">Week Four</a></li>
        <li><a href="Week_Seven.html">Week Seven</a></li>
    </ul>


    <div id="content"> {{ content }} </div>

    <footer>
        <p>MCA 2023 - 2470301D</p>
    </footer>
</body>

</html>